.top{
    position: fixed;
    top: 0px;
    background-color: white;
    margin-top: 10px;
    margin-left:30px;
}
.list{
    position: relative;
    top: 30px;
}
.dd{
    display: flex;
}
.checkbox{
    position: relative;
    top:30%
}
.text{
    position: relative;
    width: 94%;
    height: 75px;
    left: -8px;
    background-color: #f8f8f9;
    margin-bottom: 3px;
}
.title{
    position: relative;
    width: 98%;
    left: 5px;
    overflow: hidden;
}
.a{
    text-decoration: none;
    color: #000000;

}
.other{
    position: relative;
    left: 4%;
    font-size: 2px;
    color: #3c3f41;

}
textarea{
    position: relative;
    left: 4%;
    width: 95%;
    height: 25px;
    font-size: 1px;
    border-style: none;
    resize: none;
    overflow: hidden;
}
#empty{
    position: fixed;
    top: 40px;
    left: 10%;
    width: 460px;
    height: 180px;
    text-align: center;
    padding-top: 120px;
    font-size: 17px;
    font-family: 隶书;
    background-color: #f3f3f5;
}