#all{
    position: absolute;
    width: 100%;
    left: 1px;
}
.part1{
    position: relative;
    top: 0px;
    width: 100%;
    height: 25px;
    background-color: white;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
#top{
    display: flex;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    height: 20px;
    background-color: white;
    border: 1px solid #777777;
}
.s{
    top: -3px;
    position: relative;
    left: 8px;
    height: 80%;

}
#search{
    background-color: white;
    height: 15px;
    width: 170px;
    border-style: none;
    outline: none;
}
#img{
    position: relative;
    left: 10px;
    height: 14px;
    width: 14px;
}
.part2{
    height: 30px;
    text-align: center;
}
.kind{
    height: max-content;
    font-size: 1px;
    color: #777777;
    border-style: none;
    background-color: white;
}
.text{
    position: relative;
    width: 94%;
    height: 75px;
    left: -8px;
    background-color: #f8f8f9;
    margin-bottom: 3px;
}
.title{
    position: relative;
    left: 5px;
    width: 98%;
    overflow: hidden;
}
.a{
    text-decoration: none;
    color: #000000;

}
.other{
    position: relative;
    top: -4%;
    left: 4%;
    font-size: 2px;
    color: #3c3f41;

}
textarea{
    position: relative;
    left: 4%;
    width: 95%;
    height: 25px;
    font-size: 1px;
    border-style: none;
    resize: none;
    overflow: hidden;
}
.author,.type{
    position:relative;
    margin-right: 40px;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}